:root {
  --title-text-color: rgba(33, 33, 33, 1);
  --text-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --first-contrast-text-color: rgba(255, 255, 255, 1);
  --second-contact-text-color: rgba(255, 255, 255, 0.6);
  --primary-bg: rgba(255, 255, 255, 1);
  --dark-bg-color: rgba(47, 48, 58, 1);
  --section-bg-color: #e5e5e5;
  --main-vector-color: rgba(175, 177, 184, 1);
  --second-vector-color: rgba(255, 255, 255, 1);
  --timing-function: (0.4, 0, 0.2, 1);
}

.header {
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: flex;
}

.features {
  font-size: 14px;
  letter-spacing: 0.03em;
}

.team {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.button {
  border-radius: 4px;
  border: 0px;
  color: var(--first-contrast-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.footer {
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/*--------------------------------------------------*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
a {
  text-decoration: none;
  color: black;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea {
  outline: none;
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  background-color: var(--section-bg-color);
}

.logo {
  margin: 24px 93px 24px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 42;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo__accent {
  color: rgb(33, 33, 33);
}
.logo--footer {
  margin-bottom: 20px;
  display: block;
}
.logo__accent-footer {
  color: rgb(255, 255, 255);
}

.title {
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding-bottom: 50px;
}

.title--hero {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-contrast-text-color);
}

.button.primary {
  color: var(--first-contrast-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: auto;
}
.button.primary:hover,
.button.primary:focus {
  background-color: rgb(24, 140, 232);
}

.button-list {
  margin-bottom: 50px;
}

.button.secondary {
  color: var(--title-text-color);
  background-color: rgb(245, 244, 250);
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
}

.button-list {
  display: flex;
  justify-content: center;
}

.button-list .current-btn,
.button.secondary:hover,
.button.secondary:focus {
  color: var(--first-contrast-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms;
}

.button-list .btn + .btn {
  margin-left: 8px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: inherit;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 530px;
  max-height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.close-modal {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 8px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.icon-close-black {
  fill: black;
}
.icon-close-black:hover,
.icon-close-black:focus {
  fill: var(--accent-color);
}

.form {
  width: 100%;
  margin: 40px;
}

.form-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  position: relative;
}

.form-field:not(:last-child) {
  margin-bottom: 12px;
}

.form-input {
  width: 450px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  resize: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.form-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input:hover,
.form-input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form-icon {
  position: absolute;
  top: 35px;
  left: 11px;
  transform: translateY(-40%);
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: #000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.form-input:focus ~ .form-icon,
.form-input:hover ~ .form-icon {
  fill: var(--accent-color);
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-input-comment {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 450px;
  height: 120px;
  resize: none;
  margin-bottom: 8px;
}
.form-input-comment:hover,
.form-input-comment:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form-input-term {
  display: inline-block;
  align-items: center;
  margin-bottom: 30px;
}

.form-label-term {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: var(--text-color);
  padding-left: 12px;
}

.term {
  text-decoration: underline;
  color: var(--accent-color);
  margin-left: 4px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 9px;
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
}

.checkbox:checked + .checkbox-icon {
  display: inline-block;
  border-color: transparent;
  background-image: url(../images/Vector.svg);
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: contain;
  background-position: center;
}

.button.form-btn {
  padding: 10px 55px;
  color: var(--first-contrast-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: auto;
  margin-bottom: 40px;
}
.button.form-btn:hover,
.button.form-btn:focus {
  background-color: rgb(24, 140, 232);
}

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  height: 44px;
  width: 44px;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
}

.social__icon {
  fill: var(--main-vector-color);
}
.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--second-vector-color);
}

.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon--footer {
  fill: var(--second-vector-color);
}

.main-line {
  display: flex;
  align-items: center;
}

.header-contact {
  display: flex;
  margin-left: auto;
}

.site-nav .item {
  margin-right: 50px;
  position: relative;
}
.site-nav .item:last-child {
  margin-right: 0;
}
.site-nav .item::after {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: rgb(33, 33, 33);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color, transform;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: rgb(33, 150, 243);
}
.site-nav .link:hover::after,
.site-nav .link:focus::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  opacity: 1;
}

.header .current {
  color: rgb(33, 150, 243);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.header-contact .item + .item {
  margin-left: 50px;
}

.header-contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgb(117, 117, 117);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: rgb(33, 150, 243);
  fill: v rgb(33, 150, 243);
}
.header-contact-link:hover .icon,
.header-contact-link:focus .icon {
  color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}

.envelope-icon,
.smartphone-icon {
  margin-right: 10px;
  justify-content: center;
  fill: rgb(117, 117, 117);
}

.hero {
  max-width: 1600px;
  height: 600px;
  text-align: center;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.features__list {
  display: flex;
}

.features__list .features__item {
  margin-right: 30px;
}

.features__list .item:last-child {
  margin-right: 0;
}

.features__title {
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: var(--text-color);
  max-width: 270px;
  min-height: 75px;
}

.features {
  padding-bottom: 0;
}

.features__icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.work__list {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.work__text {
  display: flex;
  width: 370px;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgba(47, 48, 58, 0.8);
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.team__list {
  display: flex;
}
.team__list .team__item + .team__item {
  margin-left: 30px;
}
.team__item {
  max-width: 270px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--primary-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__image {
  height: auto;
  display: block;
}
.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
  font-weight: 500;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.team__position {
  color: var(--text-color);
  margin-bottom: 16px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding-bottom: 50px;
}
.clients__list {
  display: flex;
  justify-content: center;
}
.clients__icon {
  width: 106px;
  height: 66px;
  fill: var(--main-vector-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.clients__item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transform: scale(1);
  transition-property: border, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.clients__item:hover,
.clients__item:focus {
  border: 1px solid var(--accent-color);
  transform: scale(1.25);
}
.clients__item:last-child {
  margin-right: 0;
}
.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0;
}
.gallery-list > .item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.gallery-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.gallery-list .item:nth-child(3n) {
  margin-right: 0;
}
.gallery-list .item:hover,
.gallery-list .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms;
}

.image-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: rgb(33, 33, 33);
}

.image-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}

.card-tumb {
  position: relative;
  overflow: hidden;
}

.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.card-content-action {
  overflow: hidden;
  display: flex;
  position: absolute;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  background-color: rgba(33, 150, 243, 0.9);
  bottom: 0;
  padding: 24px;
  opacity: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}
.item:hover .card-content-action,
.item:focus .card-content-action {
  opacity: 1;
  transform: translateY(0);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: block;
}

.footer-address-link {
  color: var(--first-contrast-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
}

.footer-address-contact {
  color: var(--second-contact-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.footer-address-contact:hover,
.footer-address-contact:focus {
  color: var(--accent-color);
}

.footer-social-text,
.footer-email-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-contrast-text-color);
  margin-top: 75px;
  margin-bottom: 20px;
}

.footer-social-content {
  margin-left: 70px;
}

.footer-form-input {
  width: 360px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 15px;
  background-color: inherit;
  display: flex;
  margin-right: 10px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.footer-email {
  margin-left: 95px;
}

.footer-form {
  display: flex;
  align-items: center;
}

.footer-btn {
  margin-left: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-send {
  fill: #fff;
  margin-left: 10px;
  text-align: center;
} /*# sourceMappingURL=main.css.map */
