.footer-form, .header-contact-link, .main-line, .social__link, .form-label-term, .close-modal, .button.form-btn, .button.primary, .header > .container {
  display: flex;
  align-items: center;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/*--------------------------------------------------*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
a {
  text-decoration: none;
  color: black;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea {
  outline: none;
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(117, 117, 117);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team {
  background-color: #e5e5e5;
}

.header {
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: flex;
}

.features {
  font-size: 14px;
  letter-spacing: 0.03em;
}

.team {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer {
  padding-bottom: 60px;
  background-color: rgb(47, 48, 58);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: rgb(33, 150, 243);
}
@media screen and (min-width: 768px) {
  .logo {
    margin: 26px 88px 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin: 24px 93px 24px 0;
  }
}
.logo__accent {
  color: rgb(33, 33, 33);
}
.logo--footer {
  display: block;
  margin: 0 0 20px 0;
}
.logo__accent-footer {
  color: rgb(255, 255, 255);
}

.header {
  width: 100%;
  padding: 16px 0;
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: inherit;
}

.menu-open-btn,
.menu-close-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
}
.menu-open-btn:hover, .menu-open-btn:focus,
.menu-close-btn:hover,
.menu-close-btn:focus {
  fill: rgb(33, 150, 243);
}
@media screen and (min-width: 768px) {
  .menu-open-btn,
.menu-close-btn {
    display: none;
  }
}

.menu-close-btn {
  margin-top: 10px;
  margin-right: 15px;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}
.mob-menu .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
}

.mob-menu-item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: rgb(33, 33, 33);
  margin-bottom: 32px;
}
.mob-menu-item:hover, .mob-menu-item:focus {
  color: rgb(33, 150, 243);
}

.mob-contact {
  margin-top: 60px;
  margin-bottom: 64px;
}
.mob-contact .mob-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.08;
  letter-spacing: 0.02em;
  color: rgb(33, 150, 243);
  margin-bottom: 32px;
}
.mob-contact .mob-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: rgb(117, 117, 117);
  margin-bottom: 32px;
}

.mob-soc-list {
  display: flex;
}

.mob-soc-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  color: rgb(33, 150, 243);
}
.mob-soc-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-soc-item:first-child {
  padding-left: 0;
}

.mob-soc-link {
  color: rgb(33, 150, 243);
}

.mob-current {
  color: rgb(33, 150, 243);
}

.title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(33, 33, 33);
  padding-bottom: 50px;
}

.title--hero {
  margin-bottom: 30px;
  padding-bottom: 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 1200px) {
  .title--hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.button {
  border-radius: 4px;
  border: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}

.button.primary {
  font-weight: 700;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: auto;
}
.button.primary:hover, .button.primary:focus {
  background-color: rgb(24, 140, 232);
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-list {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .button-list {
    justify-content: center;
  }
}

.button.secondary {
  color: rgb(33, 33, 33);
  background-color: rgb(245, 244, 250);
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
}
@media screen and (max-width: 767px) {
  .button.secondary {
    margin-bottom: 15px;
  }
}

.button-list .current-btn,
.button.secondary:hover,
.button.secondary:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms;
}

.button-list .btn + .btn {
  margin-left: 8px;
}

.button.form-btn {
  font-weight: 700;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: auto;
  padding: 10px 55px;
  margin-bottom: 40px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: inherit;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  max-height: 609px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    max-width: 530px;
    max-height: 581px;
  }
}

.close-modal {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
  justify-content: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}

.icon-close-black {
  fill: black;
}
.icon-close-black:hover, .icon-close-black:focus {
  fill: rgb(33, 150, 243);
}

.form {
  width: 100%;
  margin: 40px;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(33, 33, 33);
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  color: rgb(117, 117, 117);
  position: relative;
}

.form-field:not(:last-child) {
  margin-bottom: 12px;
}

.form-input {
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  resize: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .form-input {
    width: 450px;
  }
}
.form-input::placeholder {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input:hover, .form-input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form-icon {
  position: absolute;
  top: 35px;
  left: 11px;
  transform: translateY(-40%);
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: #000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}
.form-input:focus ~ .form-icon, .form-input:hover ~ .form-icon {
  fill: rgb(33, 150, 243);
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-input-comment {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 370px;
  height: 120px;
  resize: none;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .form-input-comment {
    width: 450px;
  }
}
.form-input-comment:hover, .form-input-comment:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form-input-term {
  display: inline-block;
  align-items: center;
  margin-bottom: 30px;
}

.form-label-term {
  justify-content: center;
  font-size: 12px;
  color: rgb(117, 117, 117);
  padding-left: 12px;
}
@media screen and (min-width: 1200px) {
  .form-label-term {
    font-size: 14px;
  }
}

.term {
  text-decoration: underline;
  color: rgb(33, 150, 243);
  margin-left: 4px;
}
@media screen and (min-width: 1200px) {
  .term {
    font-size: 14px;
  }
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 9px;
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
}

.checkbox:checked + .checkbox-icon {
  display: inline-block;
  border-color: transparent;
  background-image: url(../images/Vector.svg);
  background-color: rgb(33, 150, 243);
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: contain;
  background-position: center;
}

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  height: 44px;
  width: 44px;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}
.social__link:hover, .social__link:focus {
  background-color: rgb(33, 150, 243);
}

.social__icon {
  fill: rgb(175, 177, 184);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: rgb(255, 255, 255);
}

.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon--footer {
  fill: rgb(255, 255, 255);
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
  .site-nav .item {
    margin-right: 50px;
    position: relative;
  }
  .site-nav .item:last-child {
    margin-right: 84px;
  }
  .site-nav .item::after {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: 0.4, 0, 0.2, 1;
  }
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: rgb(33, 33, 33);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color, transform;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}
.site-nav .link:hover, .site-nav .link:focus {
  color: rgb(33, 150, 243);
}
.site-nav .link:hover::after, .site-nav .link:hover::after, .site-nav .link:focus::after, .site-nav .link:focus::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 4px;
  background: rgb(33, 150, 243);
  border-radius: 2px;
  opacity: 1;
}

.header .current {
  color: rgb(33, 150, 243);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 4px;
  background: rgb(33, 150, 243);
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .header-contact {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact .item + .item {
    margin-left: 50px;
  }
}
.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgb(117, 117, 117);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}
.header-contact-link:hover, .header-contact-link:focus {
  color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}
.header-contact-link:hover .icon, .header-contact-link:focus .icon {
  color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}
@media screen and (min-width: 1200px) {
  .header-contact-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.14;
  }
}

.envelope-icon,
.smartphone-icon {
  margin-right: 10px;
  justify-content: center;
  fill: rgb(117, 117, 117);
}

.hero {
  width: 100%;
  padding: 118px 0;
  text-align: center;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile-bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media retina {
  .hero {
    background-image: url("../images/mobile-bg-img-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}
.features__list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .features__list {
    margin: -15px;
  }
}
.features__item {
  width: 100%;
}
.features__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    width: calc((100% - 30px) / 2);
    margin-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 30px) / 4);
  }
}
.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(33, 33, 33);
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}
@media screen and (min-width: 1200px) {
  .features__text {
    max-width: 270px;
    min-height: 75px;
    text-align: left;
  }
}
.features__icon {
  background-color: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 120px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .features__icon {
    width: 270px;
  }
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: flex;
  }
}
.work__list {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.work__text {
  display: flex;
  width: 370px;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgba(47, 48, 58, 0.8);
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .team__list {
    margin: -15px;
  }
}
.team__item {
  border-radius: 4px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (max-width: 767px) {
  .team__item {
    margin-bottom: 30px;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
    max-width: 270px;
    margin: 15px;
  }
}
.team__image {
  width: 100%;
  height: auto;
  display: block;
}
.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
  font-weight: 500;
  color: rgb(33, 33, 33);
  margin-bottom: 10px;
}
.team__position {
  color: rgb(117, 117, 117);
  margin-bottom: 16px;
}

.clients__title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(33, 33, 33);
  padding-bottom: 50px;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .clients__list {
    margin: -15px;
  }
}
.clients__icon {
  width: 106px;
  height: 66px;
  fill: rgb(175, 177, 184);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}
.clients__item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transform: scale(1);
  width: calc((100% - 60px) / 2);
  margin: 15px;
  transition-property: border, transform;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}
.clients__item:hover, .clients__item:focus {
  border: 1px solid rgb(33, 150, 243);
  transform: scale(1.25);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 180px) / 6);
    margin: 15px;
  }
}
.clients__item:last-child {
  margin-right: 0;
}
.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: rgb(33, 150, 243);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .gallery-list {
    margin-top: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery-list {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-list {
    margin-top: 50px;
  }
}
.gallery-list > .item {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery-list > .item {
    width: calc((100% - 60px) / 2);
  }
}
.gallery-list > .item .item:hover, .gallery-list > .item .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms;
}
.gallery-list .image-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: rgb(33, 33, 33);
}
.gallery-list .image-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}
.gallery-list .card-tumb {
  position: relative;
  overflow: hidden;
}
.gallery-list .card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  flex-grow: 1;
}
.gallery-list .card-content-action {
  overflow: hidden;
  display: flex;
  position: absolute;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  background-color: rgba(33, 150, 243, 0.9);
  bottom: 0;
  padding: 24px;
  opacity: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}
.item:hover .gallery-list .card-content-action, .item:focus .gallery-list .card-content-action {
  opacity: 1;
  transform: translateY(0);
}
@media screen and (max-width: 767px) {
  .gallery-list .button-list {
    justify-content: left;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery-list .button-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-list .button-list {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.footer .container {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer .container {
    padding-top: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    padding-top: 0;
    display: flex;
    align-items: baseline;
    text-align: left;
  }
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: block;
}

.footer-address-link {
  color: rgb(255, 255, 255);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}
.footer-address-link:hover, .footer-address-link:focus {
  color: rgb(33, 150, 243);
}

.footer-address-contact {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}
.footer-address-contact:hover, .footer-address-contact:focus {
  color: rgb(33, 150, 243);
}

.footer-social-text,
.footer-email-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-top: 75px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-social-content {
    margin-left: 70px;
  }
}

.footer-form-input {
  width: 360px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 15px;
  background-color: inherit;
  display: flex;
  margin-right: 10px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}
@media screen and (max-width: 1199px) {
  .footer-form-input {
    margin: 0 0 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-email {
    margin-left: 95px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-form {
    flex-direction: column;
  }
}

.footer-btn {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .footer-btn {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer-btn {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-btn {
    display: inline-flex;
    margin-left: 12px;
  }
}

.icon-send {
  fill: #fff;
  margin-left: 10px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */