@import "../sass/utils/variables";
@import "../sass/utils/placeholders";
@import "../sass/utils/mixins";

@import "../sass/base/reset";
@import "../sass/utils/hidden";
@import "../sass/base/common";

@import "../sass/components/logo";
@import "../sass/components/title";
@import "../sass/components/buttons";
@import "../sass/components/modal";
@import "../sass/components/socials";

@import "../sass/layout/header";
@import "../sass/layout/hero";
@import "../sass/layout/features";
@import "../sass/layout/work";
@import "../sass/layout/team";
@import "../sass/layout/clients";
@import "../sass/layout/gallery";
@import "../sass/layout/footer";
