@import "../sass/utils/variables";
@import "../sass/utils/placeholders";
@import "../sass/utils/mixins";

@import "../sass/base/reset";
@import "../sass/utils/hidden";
@import "../sass/base/common";

@import "../sass/components/buttons";
@import "../sass/components/logo";
@import "../sass/components/socials";

@import "../sass/layout/header";
@import "../sass/layout/footer";
@import "../sass/layout/gallery";
