.features {
  @include desktop {
    padding-bottom: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    @include tablet {
      margin: -15px;
    }
  }

  &__item {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 30px) / 2);
      margin-right: 15px;
    }

    @include desktop {
      width: calc((100% - 30px) / 4);
    }
  }

  &__title {
    @include font(700, 14px, 1.14, 0.03em);

    text-transform: uppercase;
    color: $title-text-color;
    margin-top: $basic-margin;
    margin-bottom: 10px;
    text-align: center;

    @include tablet {
      text-align: left;
    }
  }

  &__text {
    @include font(null, 14px, 1.71, 0.03em);
    color: $text-color;

    @include desktop {
      max-width: 270px;
      min-height: 75px;
      text-align: left;
    }
  }

  &__icon {
    background-color: #f5f4fa;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 120px;
    margin-bottom: 30px;

    @include desktop {
      width: 270px;
    }
  }
}
