.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  font-style: normal;

  @include font(null, 14px, 1.71, 0.03em);
  display: block;
}

.footer-address-link {
  color: $first-contrast-text-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-address-contact {
  color: $second-contact-text-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-social-text,
.footer-email-text {
  @include font(700, 14px, 1.14, 0.03em);

  text-transform: uppercase;
  color: $first-contrast-text-color;
  margin-top: 75px;
  margin-bottom: 20px;
}

.footer-social-content {
  margin-left: 70px;
}

.footer-form-input {
  width: 360px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 15px;
  background-color: inherit;
  display: flex;
  margin-right: 10px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.footer-email {
  margin-left: 95px;
}

.footer-form {
  @extend %align-list;
}

.footer-btn {
  margin-left: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-send {
  fill: $icon-white;
  margin-left: 10px;
  text-align: center;
}
