.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0;

  & > .item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: $primary-bg;
  }

  & .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  & .item:nth-child(3n) {
    margin-right: 0;
  }

  & .item:hover,
  & .item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: 250ms;
  }
}

.image-title {
  margin-bottom: 4px;
  @include font(null, 18px, 2, 0.06em);

  color: $title-text-color;
}

.image-text {
  @include font(null, 16px, 1.87, 0.03em);

  color: $text-color;
}

.card-tumb {
  position: relative;
  overflow: hidden;
}

.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;

  &-action {
    overflow: hidden;
    display: flex;
    position: absolute;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: $first-contrast-text-color;
    background-color: rgba(33, 150, 243, 0.9);

    bottom: 0;
    padding: 24px;
    opacity: 0;
    justify-content: center;
    align-items: center;
    height: 100%;

    transform: translateY(101%);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    .item:hover &,
    .item:focus & {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
