.main-line {
  @extend %align-list;
}

.header-contact {
  display: flex;
  margin-left: auto;
}

.site-nav {
  & .item {
    margin-right: 50px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &::after {
      opacity: 0;
      transition-property: opacity;
      transition-duration: 250ms;
      transition-timing-function: $timing-function;
    }
  }

  & .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $title-text-color;

    @include font(500, 14px, 1.14);
    letter-spacing: 0.02em;

    transition-property: color, transform;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;

      &::after,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 4px;
        background: $accent-color;
        border-radius: 2px;
        opacity: 1;
      }
    }
  }
}

.header .current {
  color: $accent-color;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 4px;
  background: $accent-color;
  border-radius: 2px;
}

.header-contact .item + .item {
  margin-left: 50px;
}

.header-contact-link {
  @extend %align-list
  padding-top: 32px;
  padding-bottom: 32px;

  @include font(500, 14px, 1.14, 0.02em);
  color: $text-color;

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }

  &:hover .icon,
  &:focus .icon {
    color: $accent-color;
    fill: $accent-color;
  }
}

.envelope-icon,
.smartphone-icon {
  margin-right: 10px;
  justify-content: center;
  fill: $icon-black;
}
