.main-line {
  @extend %align-list;
}

.site-nav {
  display: none;

  @include tablet {
    display: flex;

    // .item:not(:last-child) {
    //   margin-right: 50px;
    //   position: relative;
    // }

    // .item:last-child {
    //   margin-right: 84px;
    // }

    &::after {
      opacity: 0;
      transition-property: opacity;
      transition-duration: 250ms;
      transition-timing-function: $timing-function;
    }
  }
}

& .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $title-text-color;

  @include font(500, 14px, 1.14, 0.02em);

  transition-property: color, transform;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;

    // &::after,
    // &::after {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   bottom: 0;
    //   width: 100%;
    //   height: 4px;
    //   background: $accent-color;
    //   border-radius: 2px;
    //   opacity: 1;
    // }
  }
}

.header .current {
  color: $accent-color;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background: $accent-color;
  border-radius: 2px;
}

.header-contact {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @include desktop {
    display: flex;
    margin-left: auto;
  }

  & .item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@include desktop {
  .header-contact .item + .item {
    margin-left: 50px;
  }
}

.header-contact-link {
  @extend %align-list;

  @include font(500, 14px, 1.14, 0.02em);
  color: $text-color;

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }

  &:hover .icon,
  &:focus .icon {
    color: $accent-color;
    fill: $accent-color;
  }

  @include desktop {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.14;
  }

  .envelope-icon,
  .smartphone-icon {
    margin-right: 10px;
    justify-content: center;
    fill: $icon-black;
  }
}
