.team {
  &__list {
    display: flex;

    & .team__item + .team__item {
      margin-left: 30px;
    }
  }

  &__item {
    max-width: 270px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 4px;
    overflow: hidden;
    background-color: $primary-bg;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__image {
    height: auto;
    display: block;
  }

  &__content {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__name {
    font-weight: 500;
    color: $title-text-color;
    margin-bottom: 10px;
  }

  &__position {
    color: $text-color;
    margin-bottom: 16px;
  }
}
