.logo {
  font-family: "Raleway", sans-serif;
  @include font(700, 24px, 1.16, 0.03em);

  // @include tablet {
  //   margin-right: 88px;
  // }

  @include desktop {
    @include font(null, 26px, 1.19, null);
    margin-right: 94px;
  }

  color: $accent-color;

  &__accent {
    color: $title-text-color;
  }

  &--footer {
    display: block;
    margin: 0 0 20px 0;
  }

  &__accent-footer {
    color: $first-contrast-text-color;
  }
}
