.logo {
  font-family: "Raleway", sans-serif;
  @include font(700, 24px, 1.42, 0.03em);

  color: $accent-color;

  &__accent {
    color: $title-text-color;
  }

  &--footer {
    display: block;
    margin-bottom: 20px;
  }

  &__accent-footer {
    color: $first-contrast-text-color;
  }

  @include desktop {
    margin: 24px 93px 24px 0;
  }
}
