.header {
  width: 100%;

  // > .container {
  //   // @extend %align-list;
  // }

  @media screen and (max-width: 767px) {
    padding: 15px 0;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: inherit;
}

.menu-open-btn,
.menu-close-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @include tablet {
    display: none;
  }
}

.menu-close-btn {
  margin-top: 15px;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  // padding: 48px 40px;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
  }
  // opacity: 1;

  // transition-property: opacity;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-item {
  @include font(500, 40px, 1.17, 0.02em);
  color: $title-text-color;
  margin-bottom: 32px;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.mob-contact {
  margin-top: 60px;
  margin-bottom: 64px;

  &-item:not(:last-child) {
    margin-bottom: 32px;
  }

  & .mob-tel {
    @include font(500, 34px, 1.08, 0.02em);
    color: $accent-color;
  }

  & .mob-mail {
    @include font(500, 24px, 1.16, 0.02em);
    color: $text-color;
  }
}

.mob-soc-list {
  display: flex;
}

.mob-soc-item {
  @include font(500, 18px, 1.22, 0.02em);
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  color: $accent-color;

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &:first-child {
    padding-left: 0;
  }
}

.mob-soc-link {
  color: $accent-color;
}

// .mob-soc-link:not(:last-child) {
//   border-right: none;
// }

.mob-current {
  color: $accent-color;
}
