$title-text-color: rgba(33, 33, 33, 1);
$text-color: rgba(117, 117, 117, 1);
$accent-color: rgba(33, 150, 243, 1);
$accent-color-dark: rgba(24, 140, 232, 1);
$first-contrast-text-color: rgba(255, 255, 255, 1);
$second-contact-text-color: rgba(255, 255, 255, 0.6);

$primary-bg-color: rgba(255, 255, 255, 1);
$dark-bg-color: rgba(47, 48, 58, 1);
$section-bg-color: #e5e5e5;

$main-vector-color: rgba(175, 177, 184, 1);
$second-vector-color: rgba(255, 255, 255, 1);
$timing-function: (0.4, 0, 0.2, 1);

$icon-black: rgba(117, 117, 117, 1);
$icon-white: #fff;

$basic-margin: 30px;
